@font-face {
	font-family: 'Comic Sans MS';
	src: url('/assets/COMIC.TTF') format('truetype');
}

@font-face {
	font-family: 'CP437';
	src: url('/assets/PxPlus_VGA_SquarePx.ttf') format('truetype');
}

@mixin font-comic-sans {
	font-family: "Comic Sans MS", "Comic Sans";
}

@mixin font-cp437 {
	font-family: "CP437";
}

.rainbow-text {
	background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
	background-clip: text;
	color: transparent;
}

@mixin rainbow-bg($dur) {
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;
	
	animation: rainbow-bg $dur ease infinite;
}

@keyframes rainbow-bg {
	0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@mixin rainbow-text {
	background-clip: text;
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
	color: transparent;
}

// colors
$grey: #aaa;
$dark-grey: #777;
$light-grey: #ccc;

// sizes
$small-width: 520px;