@font-face {
	font-family: 'Comic Sans MS';
	src: url('/assets/COMIC.TTF') format('truetype');
}

.font-comic-sans {
	font-family: "Comic Sans MS", "Comic Sans";
}

// colors
$grey: #aaa;
$dark-grey: #777;

// sizes
$small-width: 520px;