@font-face {
	font-family: 'Comic Sans MS';
	src: url('/assets/COMIC.TTF') format('truetype');
}

@font-face {
	font-family: 'CP437';
	src: url('/assets/PxPlus_VGA_SquarePx.ttf') format('truetype');
}

.font-comic-sans {
	font-family: "Comic Sans MS", "Comic Sans";
}

.font-cp437 {
	font-family: "CP437";
}

.rainbow-text {
	background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
	background-clip: text;
	color: transparent;
}

// colors
$grey: #aaa;
$dark-grey: #777;

// sizes
$small-width: 520px;